<!--
The `<ev-styles>` component provides simple ways to use EValue's Design CSS styles
in your application. The following imports are available:

1. [iron-flex-layout.html](../iron-flex-layout/iron-flex-layout.html):
flexbox based layout classes
2. [colour.html](https://bitbucket.org/evuk/ev/src/master/web-components/ev-styles/colour.html):
a complete list of the colours defined in the EValue Design [palette](http://www.evalueproduction.com/prototypes/evStyle/#colours)
3. [typography.html](https://bitbucket.org/evuk/ev/src/master/web-components/ev-styles/typography.html):
EValue Design [font](http://www.evalueproduction.com/prototypes/evStyle/#typography) styles and sizes

We recommend importing each of these individual files, and using the style mixins
available in each ones, rather than the aggregated `ev-styles.html` as a whole.

@pseudoElement ev-styles
@demo demo/index.html
-->

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="colour.html">
<link rel="import" href="typography.html">
